<div class="contents">
  

<div class="frame2" style="background-color: transparent;">  
  
        <h2>News</h2> 
<div class="user">
        <% if user_signed_in? %>  
          <div class="grid-6">
              <span class="user_nav">
                <%= link_to( "/newinfos/new") do %>
                <font style="padding:4px;font-family:sans-serif;color:#fff; background:#86B0D2; border-radius:3px;">
                    submit news</font>
                <% end %>
                
              </span>
          </div>
        <% else %>
          <div class="grid-6">
              <span class="user_nav">
                  <p style="font-size:14px; font-family:sans-serif;">Submit news? please log in above.</p> 
                <p></p>  
              </span>
          </div>
        <% end %>
        </div>


        <div class="parent">
          <% @newinfos.each do |newinfo| %>
          <div class="Leaderboard">
            <table>
            <tr>
            <th class="td1"><p><%= newinfo.updated_at.strftime('%Y/%m/%d') %></p></th>
            <th class="td2"><a href="<%= newinfo.url %>"><p><%= newinfo.title %></p></a></th>
            </tr>
            </table>
          </div>
          <% end %>  
        </div><!---parent--->
          
        <div class="pagenate">
          <%= paginate(@newinfos) %>
        </div>     
          
</div>
</div>