<!DOCTYPE html>
<html>
  <head>
    <title>HosomichiLab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    

  

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
<!--- Google font
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Roboto+Condensed&display=swap" rel="stylesheet">
 --->

</head>

<body>
  

<header>
<div class="header_area">
  
    <div class="logo">
      <div class="logo1"><p>Hosomichi Laboratory</p></div>
      <div class="logo2">
      <a href="/" style="text-decoration:none;">
        <h1>細道研究室</h1>
      </a>
      </div>
  
    </div>
    
    
  <div class="gnav">
        
        <!---<div class="access"></div>--->
      
        <div class="user">
           <!--<div class="user">-->
        <% if user_signed_in? %>
              <span class="user_nav">
                  <font color="#ff8c00"><%= current_user.nickname %></font>
                  <%= link_to( "/users/#{current_user.id}") do %>
                      <font style="background:#ff8c00;">my page</font>
                  <% end %>
                  <%= link_to( destroy_user_session_path, method: :delete) do %>
                      <font style="background:#4682b4;">Log-out</font>
                  <% end %>

              </span>
          
        <% else %>
              <span class="user_nav">
                  <%= link_to( new_user_session_path, method: :post) do %>
                      <font style="background:#4682b4;">Log-in</font>
                  <% end %>
                  
                  <%= link_to( new_user_registration_path, method: :get) do %>
                      <font style="background:#4682b4;">Sign-up</font>
                  <% end %>
                   
                  <!--- link_to "Log-in", new_user_session_path, class: "post" --->
                  <!--- link_to "Sign-up", new_user_registration_path, class: "post" --->
                  
              </span>
          
        <% end %>
        <!--</div>-->
        </div>
        
        <div class="access"></div>

        
        
 
<!-- ↓ハンバーガーメニューここから↓  -->
	<div class="hamburger-demo-menubox">
		<input id="hamburger-demo1" type="checkbox" class="input-hidden">
		
		<label for="hamburger-demo1" class="hamburger-demo-switch hamburger-demo-switch1">
			<span class="hamburger-switch-line1"></span>
		</label>
		
		<div class="hamburger-demo-menuwrap">
			<ul class="hamburger-demo-menulist">
				<li><a href="/">Top</a></a></li>
            <li><a href="/sitemaps">About</a></a></li>
            <li><a href="/newinfos">News</a></li>
            <li><a href="/papers">Papers</a></li>
            <li><a href="/members">Members</a></li>
			</ul>
		</div>
		<div class="hamburger-demo-cover"></div>
	
	</div>
 <!--↑ハンバーガーメニューここまで↑ -->



        <div class="gnav_menu">
        <ul>
            <li><a href="/">Top</a></a></li>

            <li><a href="/sitemaps">About</a></a></li>
            <li><a href="/newinfos">News</a></li>
            <li><a href="/papers">Papers</a>
              <!--<ul>
                <li><a href="/papers">&nbsp;Papers</a></li>
                <li><a href="#">&nbsp;Presentations</a></li>
              </ul>--->
            </li>
            <li><a href="/members">Members</a></li>
           <!--<li><a href="#footer">bottom</a></li>--->
        </ul>
        </div>
        






        
        </div>
        
    </div><!---gnav--->
</div><!---header_area--->
</header>


<!--- ラッパー --->
<div class="wrapper">
<!--- コンテンツ --->
<div class="contents">



    <%= yield %>


    
</div><!---contents--->

<!--- フッター --->
<footer id="footer">
    <p>Copyright@2020 Uika Hosomichi. All rights reserved.</p>
    <div class="smaller">
    <p><span>All paper information is cited from " https://www.ipmu.jp/en ". </span>
    All images are royalty free at " https://pixabay.com/ja/ ".</p>
    </div>
</footer>

</div><!--- wrapper --->
</body>   
</html>

<!---<div class="frame2" style="background-color: transparent;">
  <h2 id="about">About</h2>





</div>--->