<div class="frame2" style="background-color: transparent;">  

      <h2>Members</h2>
      
        
        <% @members.each do |member| %>
       <div class="child b1"> 
            <a href=""><p class="circle1" style="background-image: url('<%= member.image %>')"; ></p></a>
            <div class="mem">
              <p><%= member.surname %> <%= member.name %> /</p>
              <p><%= member.surname_in_alphabet.upcase %> <%= member.name_in_alphabet %>,</p>
              <p style="font-size:smaller"><%= member.role %></p>
            </div>
        </div>
        <% end %>

<div class="pagenate">

</div>  
        
</div>
