<div class="frame2" style="background-color: transparent;">  

    
    
        <div class="user">
        <% if user_signed_in? %>  
          <div class="">
              <span class="user_nav">
                <%= link_to( "/members/new") do %>
                <font style="padding:4px;font-family:sans-serif;color:#fff; background:#86B0D2; border-radius:3px;">
                    submit members</font>
                <% end %>
                
              </span>
          </div>
        <% else %>
          <div class="">
              <span class="user_nav">
                  <p style="font-size:14px; font-family:sans-serif; color:#535353;">Submit members? please log in.</p> 
              </span>
          </div>
        <% end %>
        </div><!---user--->

<h2>Members</h2>
    <div class="members clearfix">
  
        
    <% @members.each do |member| %>  
      <% if member.left_on.blank? then %>
      
        <div class="child b1"> 
            
            <p class="circle1" style="background-image: url('<%= member.image %>')"; >
            </p>
            
            <div class="mem">
              <p><%= member.surname %> <%= member.name %>  
              <%= link_to "▶︎", "/members/#{member.id}", method: :get, class: "my-nav" %>
              </p
              > 
              <p><%= member.surname_in_alphabet.upcase %> <%= member.name_in_alphabet %></p>
              <p style="font-size:smaller"><%= member.role %></p>
            </div><!---mem--->
        </div><!---child b1--->
        
       <% end %>
    <% end %>
    
    </div>
    
    <h2>Seniors</h2>   
    <% @members.each do |member| %>  
       <% if member.left_on.present? then %>
    
       <div >
       <p><%= member.surname %> <%= member.name %> / <%= member.surname_in_alphabet.upcase %> <%= member.name_in_alphabet %> 
       <%= link_to "▶︎", "/members/#{member.id}", method: :get, class: "my-nav"%></p>
       </div>
       <% end %>
    <% end %>
 
        
    
        
         
        <div class="pagenate">
        </div>
        
</div><!---frame--->          