
<div class="frame3" style="background-color: transparent;">  

      <h2>Members</h2>
  
  <div class="user">
        <% if user_signed_in? %>  
          <div class="">
              <span class="user_nav">
                <%= link_to("") do %>
                <font style="padding:4px;font-family:sans-serif;color:#fff; background:#86B0D2; border-radius:3px;">
                    submit members</font>
                <% end %>
                
              </span>
          </div>
        <% else %>
          <div class="">
              <span class="user_nav">
                  <p style="font-size:14px; font-family:sans-serif; color:#535353;">Submit news? please log in above.</p> 
              </span>
          </div>
        <% end %>
  </div><!---user--->    
  
      
        <% @members.each do |member| %>
        
         <span class="child b1"> 
            <a href=""><p class="circle1" style="background-image: url('<%= member.image %>')"; ></p></a>
            <span class="mem">
              <p><%= member.surname %> <%= member.name %> /</p>
              <p><%= member.surname_in_alphabet.upcase %> <%= member.name_in_alphabet %>,</p>
              <p style="font-size:smaller"><%= member.role %></p>
            </span>
        </span>
        
        <% end %>


<div class="pagenate">
</div>  
        
</div>
